<%# home/index view %>
<% title t(:title, scope: [:sections, :home]) %>


<%# Search component %>
<%
  @search_props = {
    error_title: t(:error_title),
    success_title: t(:success_title),
    lead_message: t(:lead_message, scope: [:sections, :home]),
    send_sms: t(:send_sms, scope: [:sections, :home]),
    send_sms_error: t(:send_sms_error, scope: [:sections, :home]),
    send_sms_success: t(:send_sms_success, scope: [:sections, :home]),
    artist_input_placeholder: t(:artist_input_placeholder, scope: [:sections, :home]),
    artist_error_message: t(:artist_error_message, scope: [:sections, :home]),
    phone_number_placeholder: t(:phone_number_placeholder, scope: [:sections, :home]),
    phone_number_error_message: t(:phone_number_error_message, scope: [:sections, :home])
  }
%>
<%= react_component("Search", props: @search_props) %>



<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
  <%= image_tag 'icons/bootstrap-outline.svg', class: 'mr-3', alt: '', width: 48, height: 48 %>
  <div class="lh-100">
    <h6 class="mb-0 text-white lh-100">Bootstrap</h6>
    <small>Since 2011</small>
  </div>
</div>

<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
  <div class="media text-muted pt-3">
    <%= image_tag 'icons/placeholder.svg', alt: '', class: 'mr-2 rounded', background: '#007bff', color: '#007bff', width: 32, height: 32 %>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">@username</strong>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    </p>
  </div>
  <div class="media text-muted pt-3">
    <%= image_tag 'icons/placeholder.svg', alt: '', class: 'mr-2 rounded', background: '#e83e8c', color: '#e83e8c', width: 32, height: 32 %>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">@username</strong>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    </p>
  </div>
  <div class="media text-muted pt-3">
    <%= image_tag 'icons/placeholder.svg', alt: '', class: 'mr-2 rounded', background: '#6f42c1', color: '#6f42c1', width: 32, height: 32 %>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">@username</strong>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    </p>
  </div>
  <small class="d-block text-right mt-3">
    <a href="#">All updates</a>
  </small>
</div>

<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-0">Suggestions</h6>
  <div class="media text-muted pt-3">
    <%= image_tag 'icons/placeholder.svg', alt: '', class: 'mr-2 rounded', background: '#007bff', color: '#007bff', width: 32, height: 32 %>
    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <div class="d-flex justify-content-between align-items-center w-100">
        <strong class="text-gray-dark">Full Name</strong>
        <a href="#">Follow</a>
      </div>
      <span class="d-block">@username</span>
    </div>
  </div>
  <div class="media text-muted pt-3">
    <%= image_tag 'icons/placeholder.svg', alt: '', class: 'mr-2 rounded', background: '#007bff', color: '#007bff', width: 32, height: 32 %>
    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <div class="d-flex justify-content-between align-items-center w-100">
        <strong class="text-gray-dark">Full Name</strong>
        <a href="#">Follow</a>
      </div>
      <span class="d-block">@username</span>
    </div>
  </div>
  <div class="media text-muted pt-3">
    <%= image_tag 'icons/placeholder.svg', alt: '', class: 'mr-2 rounded', background: '#007bff', color: '#007bff', width: 32, height: 32 %>
    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <div class="d-flex justify-content-between align-items-center w-100">
        <strong class="text-gray-dark">Full Name</strong>
        <a href="#">Follow</a>
      </div>
      <span class="d-block">@username</span>
    </div>
  </div>
  <small class="d-block text-right mt-3">
    <a href="#">All suggestions</a>
  </small>
</div>
