<!doctype html>
<html lang="en">
  <head>
    <title><%= yield :title %></title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= yield :meta_description %>"/>
    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Stylesheets %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
      integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%# JavaScript files %>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous" defer="defer"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body class="bg-light">
    <header>
      <%= render 'layouts/navigation' %>
    </header>

    <main role="main" class="container">
      <div class="flash-messages">
        <%= render 'layouts/flash' %>
      </div>

      <%# Set view %>
      <%= yield %>
    </main>

    <footer>
      <hr />
      <div class="container">
        <%= render 'layouts/footer' %>
      </div>
    </footer>

    <%= render 'layouts/google_analytics' %>
  </body>
</html>
